.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
  }
  
  .modal-content {
    background: rgb(34, 34, 34);
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    max-width: 350px;
    padding-top: 30px;
  }
  